@import "colors.styl"

.menu
  background-color primary-color
  position relative
  width 100%
  padding 20px
  display flex
  align-items center
  justify-content space-between
  flex-wrap wrap
  gap 10px

  .left-bar
    display flex
    width 50%
    justify-content space-between
    gap 10px
    max-width 600px

    .logo
      background-color logo-color
      position relative
      height 30px
      min-width 200px
      flex-grow 2
      border-radius 5px


  .right-bar
    display flex
    justify-content space-between
    gap 10px

  .item
    background-color menu-item-color
    position relative
    height 30px
    min-width 100px
    flex-grow 1
    border-radius 5px

.additional
  height 100px
  background-color block-bg-color
