@import "colors.styl"
@import "vars.styl"

.title
  background-color title-color
  border-radius rounded

.text-row
  background-color text-color
  margin 10px 0
  border-radius rounded

main
  margin 50px auto
  padding 0 50px
  display flex
  max-width 1024px

  .content
    flex-grow 4
    display flex
    flex-direction column
    gap 80px

    .post
      .title
        max-width 50%

      .picture
        background-color block-bg-color
        height 200px
        margin 20px 0
        border-radius rounded

  .sidebar
    flex-grow 2
    display flex
    justify-content end
    padding-right 30px
    .info
      width 50%
      .title
        width 70%

